<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
<div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Enter the message">
            <input type="text" name="tag" placeholder="Enter the tag">
            <button type="submit">Add new message</button>
        </form>
        <form action="filter" method="post">
            <input type="text" name="text">
            <button type="submit">Find</button>
        </form>
    </div>
    <div>Message list</div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</div>
</body>
</html>